@import "tailwindcss";

@theme {
  /* Fonts */
  --font-poppins: var(--font-poppins);

  /* Color */
  --color-darkGray: #1f242d;
  --color-lightGray: #323946;
  --color-lightGreen: #7cf03d;
  --color-disabled-color: #fff3;
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-lightGreen);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-lightGreen);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-lightGreen) transparent;
}
